@inherits LayoutComponentBase
@layout AccountLayout

<MudText Typo="Typo.h3">Manage your account</MudText>

<div>
    <MudDivider/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>