@inherits LayoutComponentBase
@layout AccountLayout

<MudText Typo="Typo.h1">Manage your account</MudText>

<div>
    <MudText Typo="Typo.h2">Change your account settings</MudText>
    <MudDivider/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>