<StatusMessage Message="@StatusMessage"/>
<MudText Typo="Typo.h3">Recovery codes</MudText>
<div class="alert alert-warning" role="alert">
    <MudText>
        <strong>Put these codes in a safe place.</strong>
    </MudText>
    <MudText>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </MudText>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var recoveryCode in RecoveryCodes) {
            <div>
                <code class="recovery-code">@recoveryCode</code>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public string[] RecoveryCodes{ get; set; } = [];

    [Parameter] public string? StatusMessage{ get; set; }
}