@page "/account/manage/personalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage/>
<MudText Typo="Typo.h4">Personal Data</MudText>

<div class="row">
    <div class="col-md-6">
        <MudText>Your account contains personal data that you have given us. This page allows you to download or delete that data.</MudText>
        <MudText>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </MudText>
        <form action="account/manage/downloadPersonalData" method="post">
            <AntiforgeryToken/>
            <MudStaticButton Variant="Variant.Filled" Color="Color.Info">Download</MudStaticButton>
        </form>
        <MudText>
            <MudLink href="account/manage/deletePersonalData" class="btn btn-danger">Delete</MudLink>
        </MudText>
    </div>
</div>

@code {
    [CascadingParameter] private HttpContext HttpContext{ get; set; } = default!;

    protected override async Task OnInitializedAsync() {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }

}